*{
	padding: 0;
	border: 0;
	margin: 0;
	font-family: '微软雅黑',Helvetica ;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main{
	width: 300px;
	height: 100%;
	margin: 0 auto;
	padding-top: 50px;
}
.main p{
	width: 100%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
}
form{
	display: block;
	margin-top: 30px;
}
.contact{
	margin-top: 20px;
	margin-left: 10px;
}
.contact span{
	font-size: 18px;
	letter-spacing: 2px;
}
.contact_input{

	width: 200px;
	height: 40px;
    padding: 0 10px;
    margin-left: 10px;
    border: 3px #f2f2f2 solid;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.contact_input:focus{
	border:2px #000000 solid;
}
.main .msg{
	text-align: left;
	font-size: 10px;
	padding: 10px 0 0 50px;
	color: rgb(93,92,92);
}
.msg1{
	display: none;
}
.success{
	background:url(../images/success.png) no-repeat;
	position: absolute;
	margin-left: 10px;
	width: 32px;
	height: 32px;
    visibility: hidden;
}
.msg1:before{
	content: ' ';
	background:url(../images/warning.png) no-repeat;
	display:inline-block;
	margin-bottom: -10px;
	margin-right: 10px;
	width: 32px;
	height: 32px;
}
#get,#classGet{
	display: block;
	width: 80px;
	height: 50px;
	background: none;
	font-size: 20px;
	margin: 40px auto;
	border: 5px #f2f2f2 solid;
	border-radius: 5px;
}
.main .end{
	width: 100%;
    text-align: center;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 20px;
}

/*弹出框*/
.g-dialog{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	transition:all .8s;
}
.g-dialog .dialog-window{
	padding:1em;
	border-radius: 10px;
	position: absolute;
	top: 20%;
	left: 45%;
	width: 180px;
	margin-left: -90px;
	background: rgba(0,0,0,0.8);
	transition:all .8s;
}
.g-dialog .dialog-window .win_header{
	width: 32px;
	height: 32px;
	margin: 0 auto;

}

.g-dialog .dialog-window .win_con{
	padding: 1em 0 0 0;
	color: #fff;
	text-align: center;
}
.win_btn{
	width: 80px;
	margin: 10px auto;
	display: none;
}
.btn{
	background: rgba(0,0,0,0.8);
	border: 2px solid #fff;
	color: #fff;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 6px;

}
.finish{
    margin-top: 30px;
    width: 100%;
    display: none;
}
.finish .circle{
	background: rgb(4,190,2);
	width: 200px;
	height: 200px;
	border-radius: 100px;
	color: #fff;
	margin: 0 auto;
	line-height: 200px;
	text-align:center;
	font-size: 30px;
}
.f_btn{
	display: block;
	width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    background:  rgb(4,190,2);
    color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    height: 45px;
}
.f_btn1{
	margin-top: 50px;
}
.f_btn2{
	margin-top: 10px;
}

